<!doctype html>
<html>
<head>

	<meta charset="UTF-8"/>
	<title> Projekt Blog </title>
	
</head>
<body>

	<h1>Projekt Blog - NodeJS</h1>
	
	<h2>Menu</h2>
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/insertPost">Dodaj nowy post</a>
		</li>
	</ul>